Package: com.cbcoding.instanote
Name: Instanote
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Quick user notes for Instagram!
Maintainer: Brandon Sachs
Author: Brandon Sachs
Section: Tweaks
